*.swp
*.pyc
reserve_gfx
todo*
build/
dist/
*.spec
*.dll
sdl2/
.idea/*
.mypy*
logs/*
*.idea
## https://github.com/github/gitignore/blob/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
Actions.txt

# C extensions
*.so
# pyenv
.python-version

# virtualenv
.venv
venv/
ENV/
.pytest_cache

# sonar qube
.scannerwork
/.coverage
/coverage_html/
# build library
/builds.txt
